*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, tahoma;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.tit-pag{
    font-size: 25px;
    color: #6200ff;
    font-weight: 500;
    display: flex;
    
}
header img{
    height: 35px;
}

.principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin: 5px auto;    

}
.fundo-form{
    background-image: url(imagens/bahia.jpg);
    background-size: cover;
    background-position: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.904);
    font-family: sans-serif;
    margin: 20px 10px;
}
.tit-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #5d15d1;
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
}
input, select{
    height: 32px;
    margin: 16px 16px ;
    border-radius: 5px;
}
.radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checks{
    display: flex;
    flex-direction: row;
    align-items: center;
}
label{
    margin: 0 10px;
    font-weight: 500;
}
form h2{
    padding: 10px;
}
button {
    background: #5d15d1;
    border: none;
    height: 40px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 16px 0 0 0;
}
button:hover{
    transition: .4s;
    color: black;
    background-color: gray;
}
.container-data{
    display: flex;
    flex-direction: row;
}
.data{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 5px;
}
.ofertas{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.container div{
    position: relative;
}
.grid div img{
   height: 100%;
   width: 100%;
    background-size: cover;
}
.container div img:hover{
    transition: .3s;
    opacity: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.682);
}
.legenda{
    position: absolute;
    left: 0px;
    bottom: 3px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.377);
    box-sizing: border-box;
    padding: 3px;
}
.destaque img{
   height: 100%;
   width: 100%;
   background-size: cover
}
.container-natureza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-natureza img{
    width: 100%;
    max-width: 500px;
    background-size: cover;
    
}
.img-natureza{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.567);
    margin: 10px;
    height: 100%;
}
.img-natureza p, h3{
    padding: 10px;
    text-align: justify;
}
.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5d15d1;
    color: white;
    padding: 18px;
}
@media screen and (min-width: 558px) {
    form{
       width: 400px;
    }
.container img {
    max-width: 100%;
  }
  
  .container {
    display: flex;
    max-width: 100%;
    gap: 12px;
  }
  
  .destaque {
    display: flex;
    flex: 1;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 12px;
  }
  
  .grid img {
    width: 100%;
    
  }

  .grid div {
    width: calc(50% - 12px);
  }
  .container-natureza{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.img-natureza img{
    width: 100%;
    max-width: 400px;
    background-size: cover;
    
}
.img-natureza{
    margin: 10px;
}
.img-natureza p{
    padding: 10px;
    text-align: justify;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
}


@media screen and (min-width: 850px) {
    form{
        width: 600px;
    }
    .data{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .data input{
        width: 250px;
        height: 40px;
        text-align: justify;
    }
    .container-data{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}